:root {
    --main-color: #18cab7 ;
    --secondmain-color: #2c4755 ;
}
* {
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: "work sans" , sans-serif ;
}
.parent {
    background-color: #eee;
}
.container {
    /* width: 600px; */
    padding: 0 15px;
    margin: 0 auto;

}
.spechial-heading {
    text-align: center;
    color: #ebeced;
    font-weight: 800;
    font-size: 100px;
    margin: 0;
    letter-spacing: -3px;
}
.spechial-heading + p {
    text-align: center;
    margin-top: -32px;
    color: #797979;
    letter-spacing: -1px;
    font-size: 19px;
}

@media (max-width: 767px) {
    .spechial-heading {
        font-size: 70px;
    }
    .spechial-heading + p {
        margin-top: -25px;

    }
    .services .col .serv {
        flex-direction: column;
        text-align: center;
    }
    .projects .col {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

    }
    
    
}

 @media (max-width: 991px) {

    .services .col .image 
     {
        display: none;
    }
   
}



/* small  */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
/* medium  */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
/* larg  */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
/* header */
.header {
    padding: 20px;
}
.header .container {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}
.header .logo {
    width: 60px;
}
.header .links {
    position: relative;
}
.header .links:hover  .icon span:nth-child(2){
    width: 100%;
} 
.header .links .icon  {
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.header .links .icon span {
    background-color: black;
    height: 2px;
    margin-bottom: 5px;
}
.header .links .icon span:first-child,
.header .links .icon span:last-child{
    width: 100%;
}
.header .links .icon span:nth-child(2){
    width: 60%;
    transition: 0.3s;
}
.header .links ul {
    list-style: none;
    position: absolute;
    margin: 0;
    padding: 0;
    min-width: 200px;
    right: 0;
    background-color:#eee;
    top: calc(100% + 15px);
    display: none;
    z-index: 1;
    
}
.header .links ul::before {
    content: "";
    position: absolute;
    border: 10px solid;
    border-color: transparent transparent #eee transparent;
    top: -19.5px;
    right: 5px;
}
.header .links ul li a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: black;
    transition: 0.3s;
}
.header .links ul li a:hover {
    padding-left: 25px;
}
.header .links ul li:not(li:last-child) {
    border-bottom: 1px solid #ddd;
}
.header .links:hover  ul {
    display: block;
}
/* landing  */
.landing {
    position: relative;
    height: calc(100vh - 64px);
    display: flex;
    justify-content: center;
    text-align: center;
    background-image: url(../imgs/wallpaperflare.com_wallpaper\ \(5\).jpg);
    background-size: cover;
}

.landing .intro {
    position: absolute;
    top: 40% ;
    left: 50%;
    transform: translate(-50% , -50%);
    width: 320px;
    max-width: 100%;
    backdrop-filter: blur(2px);
}
.landing .intro h2 {
    margin: 0;
    color: var(--main-color);
    font-weight: bold;
    font-size: 50px;
}
.landing .intro p {
    font-size: 19px;
    font-weight: 500;
    line-height:1.8 ;
}
/* featchers */
.featcher {
    padding: 60px 0;
    background-color: #eee;
    margin-bottom: 50px;
}
.featcher .container {
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(300px , 1fr));
}
.featcher .container .feat {
    text-align: center;
    padding: 20px;
}
.featcher .container .feat i {
    color: var(--main-color);
    font-size: 50px;
}
.featcher .container .feat h3 {
    font-weight: 800;
    margin: 30px 0;
}
.featcher .container .feat p {
    line-height: 1.8;
    color: #777;
    font-size: 17px;
}
/* services */
.services {
    display: grid;
    grid-template-columns: repeat(auto-fill ,  minmax(300px , 1fr));
    grid-gap: 30px;
    margin-top: 50px ;
}


.services .col .serv {
    display: flex;
    margin-bottom: 40px;

}
.services .col .serv i {
    font-size: 25px;
    flex-basis: 60px;
    color: var(--main-color) ;
}
.services .col .serv .text {
    flex: 1;
}
.services .col .serv .text h2 {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
}
.services .col .serv .text p {
    
    line-height: 1.6;
    color: #565656;
    font-weight: 300;
}
.services .col .image {
    text-align: center;
    width: 260px;
    height: 300px;
    position: relative;
    background-image: url(../imgs/wallpaperflare-cropped.jpg);
    background-size: cover;
}
.services .col .image::before {
    content: " ";
    position: absolute;
    width: 80px;
    height: 360px;
    background-color: var(--secondmain-color);
    z-index: -1;
    right: -40px;
    top: -30px;
}
/* portfolio */
.portfolio {
    background-color: #EEE;
    padding-top: 50px;
}
.portfolio .spechial-heading{
    color: white;
}
.projects {
    display: grid;
    grid-template-columns: repeat(auto-fill ,  minmax(300px , 1fr));
    grid-gap: 30px;
    margin-top: 50px ;
}
.projects .col{
    margin-bottom: 20px;
    background-color: white;
}
.projects .col .image {
    width: 100%;
    height: 300px;
    background-size: cover;
}
.projects .col:nth-child(1) .image {
    background-image: url(../imgs/problemsolve.jpg);
}
.projects .col:nth-child(2) .image {
    background-image: url(../imgs/creator.jpg);
}
.projects .col:nth-child(3) .image {
    background-image: url(../imgs/ui&ux.jpg);
}

.projects .col .text h2 {
    font-size: 20px;
    font-weight: bold;
    margin-left: 25px;
    margin-bottom: 0px;
}
.projects .col .text p {
    margin-left: 25px;
    line-height: 1.6;
    color: #565656;
    font-weight: 300;
}
.container  .button {
   display: flex;
   justify-content: center;
}
 .Show-more {
    padding: 10px 0;
    width: 150px;
    font-size: 15px;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 50px;
    cursor:pointer;
}
/* about */
.about {
    padding: 50px 0;
}
.about .container .content {
    display: flex;
    flex-wrap: nowrap;
    padding-top: 50px;
    justify-content: space-between;
}


.about .container .content  .text {
   flex-basis: calc(100% - 500px);
  
}
@media (max-width:991px) {
    .about .container .content  {
        flex-direction: column;
    }
    .about .container .content  .text {
        
        text-align: center;
    }
}


.about .container .content .text h2 {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.6;
    margin-bottom: 40px;
}
.about .container .content  .text p {
    padding-top: 20px;
    line-height: 1.6;
    color: rgb(86, 86, 86);
    font-weight: 300;
    border-top: 3px solid var(--main-color);
}
.about .container .content  .image {
    width: 230px;
    height: 270px;
    background-image: url(../imgs/plant.jpg);
    background-size: cover;
    position: relative;
   
}
.about .container .content  .image::before {
    content: " ";
    position: absolute;
    width: 86px;
    height: 188px;
    border-left: 80px solid var(--main-color);
    border-bottom: 69px solid var(--main-color);
    right: -121px;
    top: -29px;
    z-index: -1;
}
.about .container .content  .image::after {
    content: "";
    position: absolute;
    height: 320px;
    width: 80px;
    background-color: #eee;
    z-index: -1;
    top: -29px;
    left: -13%;
}
@media (max-width:991px) {
    .about .container .content{
        flex-direction: column;
        text-align: center;
    }
    .about .container .content  .image {
        margin: 0 auto 50px;
    }
    .about .container .content  .image::before ,
    .about .container .content  .image::after {
        display: none;
    }
}
/* contact */
.contact {
    padding: 50px 0 100px 0;
    background-color: #EEE;
    position: relative;
}
.contact::before {
    content: "Belal kamal aboskena 2024";
    width: 100%;
    height: 50px;
    background-color: var(--secondmain-color);
    position: absolute;
    bottom: 0;
    color: white;
    text-align: center;
    line-height: 50px;

}

.contact .container .spechial-heading {
    color: white;
}
.contact .container .content {
    padding: 50px 0;
}
.contact .container .content h2 {
    font-size: 35px;
    font-weight: 800;
    margin: 0;
    color: var(--secondmain-color);
} 
.contact .container .content h3 {
    margin-left: 32px;
    font-size: 23px;
    font-weight: 800;
    color: var(--main-color);
} 
.contact .container .content p {
    display: inline;
    margin-left: 46px;
    font-size: 13px;
    font-weight: 400;
    color: var(--secondmain-color);
}
.contact .container .content .icons {
    display: inline;
}
.contact .container .content .icons i{
    margin-left: 15px;
    color: var(--secondmain-color);
}
